{% extends 'base.html.twig' %}

{% block title %}Modifier un plat{% endblock %}

{% block body %}
<h1>Modifier le plat</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('app_admin_plat') }}">⬅ Retour à la liste</a>
{% endblock %}
